<div class="titleText">Create New Vacations Status.....</div>
<div class="mainCard">
    <mat-label>Name</mat-label>
    <div class="inputFields">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <label class="dateFields_modalLabel">Date</label>
    <div class="inputFields">
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    </div>
    <label class="statusFields_modalLabel">Status</label>
    <div class="inputFields">
        <mat-radio-group aria-label="Vacation Type">
            <mat-radio-button value="TENTATIVE">TENTATIVE</mat-radio-button>
            <mat-radio-button value="CONFIRMED">CONFIRMED</mat-radio-button>
        </mat-radio-group>
    </div>
    <button mat-raised-button (click)="CancelVacation()">Cancel</button>
    <button mat-raised-button color="primary" (click)="SaveVacation()">Add Vacation</button>
</div>